body{
	margin: 0;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
canvas{
	width: 100%;
	height: auto;
	padding: 0px;
	width: 100vw;
	height: 100vh;
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -9999;
}
#title{
	width: 80%;
	text-align: center;
	position: fixed;
	top: 63%;
	left: 50%;
	margin-left: -40%;
	color: #3b4144;
}

#nome{
	font-size: 5vh;
}
.sobre{
	font-size: 4vh;
}
@media (max-width: 576px) {
	#nome{
		font-size: 7vw;
	}
	.sobre{
		font-size: 5vw;
	}
  }

/*---BOTONES DE SELECCION---*/

/*-tamaño de letra-*/
.n{
	font-size: 2.5vw;
}
.m{
	font-size: 3vw;
}

/*-estilo-*/
.boton{
	width: 22%;
	padding: 2vh 0 2vh 0;
	background-color: #dc4a3ac5;
	color: #f0fdff;
	border-width: 2px;
	border-color: #f0fdff;
	border-radius: 20px;
	border-style:solid;
	transition: 0.3s;
}
@media (max-width: 768px) {
	.boton{
		width: 38%;

	}
	.n{
		font-size: 5vw;
	}
	.m{
		font-size: 6vw;
	}
  }
.boton:hover{
	width: 23%;
	cursor: pointer;
	background-color: #f0fdff;
	color: #3b4144;
	border-width: px;
	border-color: #3b4144;
}

/*-posicion-*/
#b1{
	position: fixed;
	top: 15vh;
	left: 10vw;
}
#b2{
	position: fixed;
	top: 15vh;
	right: 10vw;
}
#b3{
	position: fixed;
	top: 50vh;
	left: 5vw;
}
#b4{
	position: fixed;
	top: 50vh;
	right: 5vw;
}
@media (max-width: 768px) {
	#b1{
		top: 5vh;
		left: 10vw;
	}
	#b2{
		top: 5vh;
		right: 10vw;
	}
	#b3{
		top: 20vh;
		left: 5vw;
	}
	#b4{
		top: 20vh;
		right: 5vw;
	}
  }