/*------PANTALLA DE CARGA------*/
#loading{
	background-color: #dddddd;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 10;
	transition: 1s;
	box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.5);

}
#loading-spin{
	--load-height: 14vw;
	position: fixed;
	width: var(--load-height);
	height: var(--load-height);
	top: 30vh;
	left: calc(50vw - (var(--load-height)/2));
}
#loading-img{
	--icon-height: 10vw;
	position: fixed;
	width: var(--icon-height);
	height: var(--icon-height);
	top: calc(30vh + (var(--icon-height)/6));
	left: calc(50vw - (var(--icon-height)/2));
}

/*------BASE DEL MENU------*/
html{
	width: 100%;
	height: 100%;
}
body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
canvas{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -9999;
	overflow: hidden;
}
#track{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.25);
	perspective: 1000px;
	overflow: hidden;
}


/*------TITULO Y TEXTO DE INFORMACION------*/
#title{
	width: 80%;
	text-align: center;
	position: fixed;
	top: 63%;
	left: 50%;
	margin-left: -40%;
	color: #3b4144;
	z-index: 11;
}

#nome{
	font-size: 5vh;
}
.sobre{
	font-size: 4vh;
	margin: 0;
}
@media (max-width: 576px) {
	#nome{
		font-size: 7vw;
	}
	.sobre{
		font-size: 5vw;
	}
}


/*------BOTONES DE SELECCION------*/

/*---tamaño de letra botones---*/
.n{
	font-size: 2.1vw;
}
.m{
	font-size: 3vw;
}

/*---estilo botones---*/
.boton{
	width: 22%;
	padding: 2vh 0 2vh 0;
	background-color: #ca7c75;
	color: #f0fdff;
	border-width: 2px;
	border-color: #f0fdff;
	border-radius: 20px;
	border-style:solid;
	transition: 0.3s;
	position: fixed;
	z-index: 5;
	box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4) ;
}
/*---responsiveness texto--*/
@media (max-width: 768px) {
	.boton{
		width: 32%;

	}
	.n{
		font-size: 3vw;
	}
	.m{
		font-size: 4vw;
	}
}
@media (max-width: 425px) {
	.boton{
		width: 38%;

	}
	.n{
		font-size: 5vw;
	}
	.m{
		font-size: 6vw;
	}
}

/*--no hover movil --*/
@media (min-width: 769px) {
	.boton:hover{
		width: 23%;
		cursor: pointer;
		background-color: #f0fdff;
		color: #3b4144;
		border-width: px;
		border-color: #3b4144;
		box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2) ;
	}
}
  
/*---posicion de los botones -*/
#b1{
	top: 15vh;
	left: 10vw;
}
#b2{
	
	top: 15vh;
	right: 10vw;
}
#b3{
	top: 50vh;
	left: 5vw;
}
#b4{
	top: 50vh;
	right: 5vw;
}
/*---responsiveness landscape ---*/
@media (max-width: 768px) {
	#b1{
		top: 5vh;
		left: 10vw;
	}
	#b2{
		top: 5vh;
		right: 10vw;
	}
	#b3{
		top: 25vh;
		left: 5vw;
	}
	#b4{
		top: 25vh;
		right: 5vw;
	}
}
/*---responsiveness vertical ---*/  
@media (max-width: 425px) {
	#b1{
		top: 5vh;
		left: 10vw;
	}
	#b2{
		top: 5vh;
		right: 10vw;
	}
	#b3{
		top: 20vh;
		left: 5vw;
	}
	#b4{
		top: 20vh;
		right: 5vw;
	}
}

/*---pantalla---*/
#pantalla{
	opacity: 0;
	position: fixed;
	bottom: 67%;
	width: 22%;
	height: auto;
	left: 50%;
	margin-left: -9%;
	perspective: inherit;
	transition: opacity .1s;
}

/*------MODAL------*/
.modal-content{
	background-color: #eee !important;
}

.col-lg-4{
	display: grid;
	background-color: rgb(240, 240, 240);
}
.img-prev{
	align-self: center;
	margin: 2px;
}

